.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}

nav a {
    color: black;
}

h1 {
    border: 5px groove black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: black;
}

h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

body {
    background-size: 50%
}

img {
    width: 700px;
    height: auto;
    padding-left: 300px;
}