body {
    background-color: cyan;
    background-size: 100%;
}

nav a {
    color: ghostwhite;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}
/*
img {
    
    width: 250px;
    height: auto;
    padding-left: 500px;
}
*/
h1 {
    border: 5px groove ghostwhite;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: whitesmoke;
}
h2 {
    color: whitesmoke;
    text-align: center;
}

h3 {
    color: whitesmoke;
    text-align: center
}

p {
    color: white;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}